/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

input[type="text"], input[type="password"], input[type="select"], textarea, select {
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px	#ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	vertical-align: middle;
	width:auto;	
}

label {
	text-align: right;
	vertical-align: middle;
	font-size:0.8em;
	margin-right:1em;
	width:10em;
}

.inputForm {
	padding: 0.2em;
}

.inputForm input[type="submit"] {
	float:right;
	margin-bottom:1em;
}

.modal-content {
	display:inline-block;
}

a {
	padding: 0px;
}